form( method='post' )
  p
    label X:
      input(name='loc[x]', value='', type='text')
  p
    label Y:
      input(name='loc[y]', value='', type='text')
  p
    label Z:
      input(name='loc[z]', value='', type='text')
  p
    label S:
      input(name='size', value='20', type='text')
  p
    input(value='Generate', type='submit')
