div( id='msg' )
div( id='dl' )
form( id='form', method='post' )
  p
    label X:
      input( name='x', value='0', type='text' )
  p
    label Y:
      input( name='y', value='0', type='text' )
  p
    label Z:
      input( name='z', value='0', type='text' )
  p
    label S:
      input( name='size', value='20', type='text' )
  p
  input( id='submit', value='Generate', type='submit' )
