form( method='post' )
  label X:
    input(name='loc[x]', value='', type='text')
  label Y:
    input(name='loc[y]', value='', type='text')
  label Z:
    input(name='loc[z]', value='', type='text')
  input(value='Generate', type='submit')
