!!!
html
  head
    title= 'NCObj'
    link( rel='stylesheet', href='/stylesheets/style.css' )
    script( src="http://code.jquery.com/jquery.min.js", type="application/javascript" )
    script( src="/javascripts/json2.js", type="application/javascript" )
    script( src="/javascripts/ncobj.js", type="application/javascript" )
  body!= body
